//SCSS
//https://asamone.com/2018/04/01/atom-sass-windows/

body {
        padding: 10px;
        margin: 0px;
        padding: 0px;
        font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", sans-serif;
        font-weight: 400;

        p {
                margin: 10px 4vw;
                padding: 10px 0px;
                line-height: 1.8;
                font-size: 16px;
css
                @media screen and (min-width:768px) {
                        //PC／すまほたいおう
                        /*　画面サイズが768pxから1024pxまではここを読み込む　*/
                        font-size: 18px;
                }


        }
}