@charset "UTF-8";
body {
  background-color: white;
  background-image: linear-gradient(-45deg, white 25%, rgba(120, 180, 255, 0.15) 25%, rgba(120, 180, 255, 0.15) 50%, white 50%, white 75%, rgba(120, 180, 255, 0.15) 75%, rgba(120, 180, 255, 0.15));
  background-size: 30px 30px;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans JP', 'Osaka', sans-serif;
  font-weight: 400;
}

body h3 {
  position: relative;
  display: inline;
}

body h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #2c6fffa8, #2c6fffa8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #2c6fffa8, #2c6fffa8 2px, #fff 2px, #fff 4px);
}

@media only screen and (max-width: 550) {
  body .newLine-sp {
    display: block !important;
  }
  body .newLine-pc {
    display: none !important;
  }
}

body .image {
  text-align: center;
}

body .image01 img {
  width: 100%;
}

body .image01 .pc {
  display: block !important;
}

body .image01 .sp {
  display: none !important;
}

@media only screen and (max-width: 550) {
  body .image01 .pc {
    display: none !important;
  }
  body .image01 .sp {
    display: block !important;
  }
}

body .image02 {
  text-align: center;
}

body .image02 img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body .image02 img {
    width: 70%;
  }
}

body .image03 {
  text-align: center;
}

body .image03 img {
  width: 50%;
}

body .highlight {
  font-weight: bold;
  border-bottom: solid 4px #ecf01d;
}

body .highlight-Bold1 {
  font-weight: bold;
  color: #db55ac;
}

body .highlight-Bold2 {
  font-weight: bold;
}

body .decoration01 {
  background-color: white;
  border-radius: 6vw;
  border: 4px solid #187fd4;
  display: inline-block;
}

body .decoration02 {
  background-color: white;
  border-radius: 6vw;
  border: 4px solid #da50a0;
  display: inline-block;
}

body .newLine-sp {
  display: none !important;
}

body .newLine-pc {
  display: block !important;
}

section {
  padding: 2vw 0px;
}

#about section {
  border-radius: 6vw;
  background-color: white;
}

#about,
#rule,
#announcement {
  padding: 20px 3vw;
  color: #323232;
}

#about h1,
#rule h1,
#announcement h1 {
  text-align: center;
  color: #0043d4;
  font-size: 3.5vw;
}

#about h2,
#rule h2,
#announcement h2 {
  margin: 0px 4vw;
}

#about h3,
#rule h3,
#announcement h3 {
  margin: 0px 4vw;
  padding-top: 20px;
  font-size: 22px;
  color: #286da7;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #about h3,
  #rule h3,
  #announcement h3 {
    font-size: 2.2vw;
  }
}

@media screen and (min-width: 1024px) {
  #about h3,
  #rule h3,
  #announcement h3 {
    font-size: 32px;
  }
}

#about h4,
#rule h4,
#announcement h4 {
  text-align: center;
  font-size: 24px;
  color: #2ab4ff;
  margin: 0px 0px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #about h4,
  #rule h4,
  #announcement h4 {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  #about h4,
  #rule h4,
  #announcement h4 {
    /*　画面サイズが1024pxからはここを読み込む　*/
    font-size: 32px;
  }
}

#about h5,
#rule h5,
#announcement h5 {
  margin: 0px 4vw;
  padding-top: 20px;
  font-size: 18px;
  color: #2ab4ff;
}

#about p,
#rule p,
#announcement p {
  margin: 10px 4vw;
  padding: 10px 0px;
  line-height: 1.8;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  #about p,
  #rule p,
  #announcement p {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 18px;
  }
}

#about .container,
#rule .container,
#announcement .container {
  margin: 10px 4vw;
  padding-top: 10px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about .container p,
#rule .container p,
#announcement .container p {
  margin: 0px;
  padding-left: 2vw;
}

#about .container h5,
#rule .container h5,
#announcement .container h5 {
  margin: 0px 2vw;
  padding: 0px;
}

#about .container .item1,
#rule .container .item1,
#announcement .container .item1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

#about .container .item1 img,
#rule .container .item1 img,
#announcement .container .item1 img {
  width: 100%;
}

#about .container .item2,
#rule .container .item2,
#announcement .container .item2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

#judges {
  padding: 20px 3vw;
}

#judges h3 {
  margin: 0px 4vw;
  padding-top: 20px;
  font-size: 20px;
  color: #286da7;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #judges h3 {
    font-size: 2.2vw;
  }
}

@media screen and (min-width: 1024px) {
  #judges h3 {
    font-size: 2vw;
  }
}

#judges h4 {
  text-align: center;
  font-size: 24px;
  color: #2ab4ff;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #judges h4 {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  #judges h4 {
    /*　画面サイズが1024pxからはここを読み込む　*/
    font-size: 32px;
  }
}

#judges p {
  margin: 10px 4vw;
  padding: 10px 0px;
  line-height: 1.7;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  #judges p {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 18px;
  }
}

#flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  width: 100%;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#flexbox .box-item {
  width: 50%;
  background: #286da7;
  text-align: center;
  padding: 15px 40px;
  border: 5px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

footer {
  background-color: white;
  margin: 0px;
}

footer p {
  font-size: 14px;
  margin: 3px;
  font-weight: lighter;
  text-align: center;
  color: black;
  border: solid 4px rgba(255, 255, 255, 0);
}

footer img {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  footer img {
    width: 25vw;
  }
}
/*# sourceMappingURL=style.css.map */