$bgColor:rgb(255, 255, 255);
$stripeColor1:#2c6fffa8;
$textColor:rgb(50, 50, 50);
$mainColor:rgb(40, 109, 167);
$subColor:rgb(42, 180, 255);







body {
        background-color: $bgColor;

        background-image: linear-gradient(-45deg, white 25%, rgba(120, 180, 255, 0.15) 25%, rgba(120, 180, 255, 0.15) 50%, white 50%, white 75%, rgba(120, 180, 255, 0.15) 75%, rgba(120, 180, 255, 0.15));
        background-size: 30px 30px;

        margin: 0px;
        padding: 0px;
        font-family: 'Noto Sans JP', 'Osaka', sans-serif;

        font-weight: 400;

        h3 {
                position: relative;
                display: inline;
        }

        h3:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 100%;
                height: 7px;
                background: -webkit-repeating-linear-gradient(-45deg, $stripeColor1, $stripeColor1 2px, #fff 2px, #fff 4px);
                background: repeating-linear-gradient(-45deg, $stripeColor1, $stripeColor1 2px, #fff 2px, #fff 4px);
        }

        @media only screen and (max-width: 550) {

                .newLine-sp {
                        display: block !important;
                }

                .newLine-pc {
                        display: none !important;
                }
        }

        .image {
                text-align: center;
        }

        .image01 {
                img {
                        width: 100%;
                }

                .pc {
                        display: block !important;
                }

                .sp {
                        display: none !important;
                }

                @media only screen and (max-width: 550) {
                        .pc {
                                display: none !important;
                        }

                        .sp {
                                display: block !important;
                        }
                }

        }

        .image02 {
                text-align: center;

                img {
                        width: 100%;

                        @media screen and (min-width:768px) {
                                width: 70%;

                        }
                }
        }

        .image03 {
                text-align: center;

                img {
                        width: 50%;
                }
        }

        .highlight {
                font-weight: bold;
                border-bottom: solid 4px rgb(236, 240, 29);

        }

        .highlight-Bold1 {
                font-weight: bold;
                color: rgb(219, 85, 172);
        }

        .highlight-Bold2 {
                font-weight: bold;
        }

        .decoration01 {
                background-color: white;
                border-radius: 6vw;
                border: 4px solid rgb(24, 127, 212);
                display: inline-block;
        }

        .decoration02 {
                background-color: white;
                border-radius: 6vw;
                border: 4px solid rgb(218, 80, 160);
                display: inline-block;
        }


        .newLine-sp {
                display: none !important;
        }

        .newLine-pc {
                display: block !important;
        }






}

section {
        padding: 2vw 0px;
}

#about {
        section {
                border-radius: 6vw;
                background-color: white;
        }
}

#about,
#rule,
#announcement {
        // display: inline-block;
        // width: 100%;
        padding: 20px 3vw;

        color: $textColor;

        h1 {
                text-align: center;
                color: rgb(0, 67, 212);
                font-size: 3.5vw;
        }


        h2 {
                margin: 0px 4vw;
        }

        h3 {
                margin: 0px 4vw;
                padding-top: 20px;
                font-size: 22px;
                color: $mainColor;

                @media screen and (min-width:768px) and (max-width:1024px) {
                        font-size: 2.2vw;
                }

                @media screen and (min-width:1024px) {
                        font-size: 32px;
                }
        }

        h4 {
                text-align: center;
                font-size: 24px;
                color: $subColor;
                margin: 0px 0px;
                margin-bottom: 20px;

                @media screen and (min-width:768px) and (max-width:1024px) {

                        /*　画面サイズが768pxから1024pxまではここを読み込む　*/
                        font-size: 3vw;
                }

                @media screen and (min-width:1024px) {
                        /*　画面サイズが1024pxからはここを読み込む　*/
                        font-size: 32px;
                }
        }

        h5 {
                margin: 0px 4vw;
                padding-top: 20px;
                font-size: 18px;
                color: $subColor;
        }

        p {
                margin: 10px 4vw;
                padding: 10px 0px;
                line-height: 1.8;
                font-size: 16px;

                @media screen and (min-width:768px) {

                        /*　画面サイズが768pxから1024pxまではここを読み込む　*/
                        font-size: 18px;
                }


        }


        .container {
                margin: 10px 4vw;
                padding-top: 10px;
                padding-bottom: 30px;
                // background-color: skyblue;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;


                p {
                        margin: 0px;
                        padding-left: 2vw;
                }

                h5 {
                        margin: 0px 2vw;
                        padding: 0px;
                }



                .item1 {
                        order: 1;
                        flex-basis: 15%;

                        img {
                                width: 100%;
                        }
                }

                .item2 {
                        order: 2;
                        flex-basis: 85%;
                }
        }




}

#judges {
        padding: 20px 3vw;


        h3 {
                margin: 0px 4vw;
                padding-top: 20px;
                font-size: 20px;
                color: $mainColor;

                @media screen and (min-width:768px) and (max-width:1024px) {
                        font-size: 2.2vw;
                }

                @media screen and (min-width:1024px) {
                        font-size: 2vw;
                }
        }

        h4 {
                text-align: center;
                font-size: 24px;
                color: $subColor;

                @media screen and (min-width:768px) and (max-width:1024px) {

                        /*　画面サイズが768pxから1024pxまではここを読み込む　*/
                        font-size: 3vw;
                }

                @media screen and (min-width:1024px) {
                        /*　画面サイズが1024pxからはここを読み込む　*/
                        font-size: 32px;
                }
        }

        p {
                margin: 10px 4vw;
                padding: 10px 0px;
                line-height: 1.7;
                font-size: 16px;

                @media screen and (min-width:768px) {

                        /*　画面サイズが768pxから1024pxまではここを読み込む　*/
                        font-size: 18px;
                }


        }



        // .member-profile {
        //         width: 100%;

        //         text-align: center;

        //         .person {

        //                 text-align: center;
        //                 float: left;
        //                 width: 30%;
        //                 padding-bottom: 30px;

        //                 .member-image {
        //                         text-align: center;
        //                         // padding: 20px;

        //                         img {
        //                                 width: 150px;
        //                                 padding-bottom: 20px;
        //                         }

        //                 }
        //         }


}



#flexbox {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        width: 100%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;

        .box-item {
                width: 50%;
                background: $mainColor;
                text-align: center;
                padding: 15px 40px;
                border: 5px solid #fff;
                box-sizing: border-box;
                color: white;
        }
}




footer {
        background-color: white;
        margin: 0px;

        p {
                font-size: 14px;
                margin: 3px;
                font-weight: lighter;
                text-align: center;
                color: black;
                border: solid 4px rgba(255, 255, 255, 0);
        }

        img {
                padding-top: 40px;
                padding-bottom: 20px;
                width: 200px;

                @media screen and (min-width:320px) and (max-width:768px) {
                        width: 25vw;
                }
        }
}