@charset "UTF-8";
body {
  background-color: white;
  background-image: linear-gradient(-45deg, white 25%, rgba(120, 180, 255, 0.15) 25%, rgba(120, 180, 255, 0.15) 50%, white 50%, white 75%, rgba(120, 180, 255, 0.15) 75%, rgba(120, 180, 255, 0.15));
  background-size: 30px 30px;
  margin: 0px;
  padding: 0px;
  font-family: "YuGothic", "Yu Gothic", "Meiryo", "ヒラギノ角ゴ", sans-serif;
  font-weight: 400;
}

body h1 {
  letter-spacing: 0px;
  text-align: center;
  color: #0043d4;
  font-size: 4.5vw;
}

body h2 {
  margin: 0px 4vw;
  color: #286da7;
}

body h3 {
  margin: 0px 4vw;
  padding-top: 20px;
  font-size: 20px;
  color: #286da7;
  position: relative;
  display: inline;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body h3 {
    font-size: 2.2vw;
  }
}

@media screen and (min-width: 1024px) {
  body h3 {
    font-size: 2vw;
  }
}

body h3:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 7px;
  background: -webkit-repeating-linear-gradient(-45deg, #2c6fffa8, #2c6fffa8 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #2c6fffa8, #2c6fffa8 2px, #fff 2px, #fff 4px);
}

body h4 {
  text-align: center;
  font-size: 26px;
  color: #2ab4ff;
  margin: 0px 0px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body h4 {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  body h4 {
    /*　画面サイズが1024pxからはここを読み込む　*/
    font-size: 32px;
  }
}

body h5 {
  margin: 0px 4vw;
  padding-top: 20px;
  font-size: 20px;
  color: #2ab4ff;
}

body p {
  margin: 10px 4vw;
  padding: 10px 0px;
  line-height: 1.8;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  body p {
    /*　画面サイズが768pxから1024pxまではここを読み込む　*/
    font-size: 18px;
  }
}

body .newLine-sp {
  display: none !important;
}

body .newLine-pc {
  display: block !important;
}

@media only screen and (max-width: 750px) {
  body .newLine-sp {
    display: block !important;
  }
  body .newLine-pc {
    display: none !important;
  }
}

body .img {
  line-height: 1.0em;
  display: block;
}

body .image {
  text-align: center;
}

body .image01 img {
  width: 100%;
}

body .image01 .pc {
  display: block !important;
}

body .image01 .sp {
  display: none !important;
}

@media only screen and (max-width: 750px) {
  body .image01 .pc {
    display: none !important;
  }
  body .image01 .sp {
    display: block !important;
  }
}

body .image02 {
  text-align: center;
  margin: 0px;
}

body .image02 img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  body .image02 img {
    width: 70%;
  }
}

body .PR-images {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-filter: drop-shadow(0 2px 4px black);
          filter: drop-shadow(0 2px 4px black);
}

body .PR-images div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  width: 500px;
}

@media only screen and (min-width: 500px) {
  body .PR-images div {
    width: 45%;
    margin: 20px 1vw;
  }
}

@media only screen and (min-width: 700px) {
  body .PR-images div {
    width: 30%;
    margin: 20px 1vw;
  }
}

body .PR-images div img {
  width: 100%;
}

body .PR-images2 {
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

body .PR-images2 h2 {
  margin: 0px;
  margin-bottom: 15px;
  margin-top: 20px;
}

body .PR-images2 p {
  margin-top: 0px;
  margin-bottom: 0px;
}

body .PR-images2 img {
  width: 30%;
  margin: 20px 0;
  border-radius: 20px 70px !important;
  border: 12px solid skyblue;
  margin: 0;
}

@media only screen and (max-width: 750px) {
  body .PR-images2 img {
    width: 90%;
  }
}

body .PR-images2 .title1 {
  background-color: #7e1bff;
  border-radius: 24px;
  height: 48px;
  width: 260px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

body .PR-images2 .title1 p {
  font-size: 23px;
  color: white;
  margin: 0;
  padding: 0;
  padding-top: 3px;
}

body .PR-images3 {
  text-align: center;
}

body .PR-images3 img {
  margin: 20px 30px;
}

body .PR-images3 .pc {
  display: block !important;
  width: 90%;
  text-align: center;
}

body .PR-images3 .sp {
  display: none !important;
  width: 260px;
}

@media only screen and (max-width: 750px) {
  body .PR-images3 .pc {
    display: none !important;
  }
  body .PR-images3 .sp {
    display: block !important;
  }
}

body .highlight {
  font-weight: bold;
  border-bottom: solid 4px #ecf01d;
}

body .highlight-Bold1 {
  font-weight: bold;
  color: #db55ac;
}

body .highlight-Bold2 {
  font-weight: bold;
}

body .decoration01 {
  background-color: white;
  border-radius: 6vw;
  border: 4px solid #187fd4;
  display: inline-block;
}

body .decoration02 {
  background-color: white;
  border-radius: 6vw;
  border: 4px solid #da50a0;
  display: inline-block;
}

body .btn1 {
  display: block;
  height: 60px;
  width: 240px;
  background-color: #ff169e;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  position: relative;
  margin: 20px auto;
  letter-spacing: 2px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: color 0.65s;
  transition: color 0.65s;
}

body .btn1 a {
  font-weight: bold;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 24px;
  padding: 0px !important;
  margin: auto !important;
  font-size: 20px !important;
  color: white;
  text-decoration: none;
}

body .btn1 a:visited:not(:hover):not(:active) {
  color: #ffffff;
}

body .btn1:hover {
  background-color: #f5c000;
}

body .btn1:active {
  background-color: #f5c000;
}

body section {
  padding: 2vw 0px;
}

#top {
  background: linear-gradient(-135deg, #ff0095, #c069ff);
}

#about section {
  border-radius: 6vw;
  background-color: white;
}

#about,
#rule,
#announcement,
#QandA,
#links {
  padding: 20px 3vw;
  color: #323232;
  letter-spacing: 0.15vw;
}

#about .container,
#rule .container,
#announcement .container,
#QandA .container,
#links .container {
  margin: 10px 4vw;
  padding-top: 10px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about .container p,
#rule .container p,
#announcement .container p,
#QandA .container p,
#links .container p {
  margin: 0px;
  padding-left: 2vw;
}

#about .container h5,
#rule .container h5,
#announcement .container h5,
#QandA .container h5,
#links .container h5 {
  margin: 0px 2vw;
  padding: 0px;
}

#about .container .item1,
#rule .container .item1,
#announcement .container .item1,
#QandA .container .item1,
#links .container .item1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

#about .container .item1 img,
#rule .container .item1 img,
#announcement .container .item1 img,
#QandA .container .item1 img,
#links .container .item1 img {
  width: 100%;
}

#about .container .item2,
#rule .container .item2,
#announcement .container .item2,
#QandA .container .item2,
#links .container .item2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

#about .container .item2 .btn-show,
#rule .container .item2 .btn-show,
#announcement .container .item2 .btn-show,
#QandA .container .item2 .btn-show,
#links .container .item2 .btn-show {
  display: block;
  margin-left: 2vw;
  height: 40px;
  width: 70px;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: #2ec4ff;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#about .container .item2 .theme-detail,
#rule .container .item2 .theme-detail,
#announcement .container .item2 .theme-detail,
#QandA .container .item2 .theme-detail,
#links .container .item2 .theme-detail {
  display: none;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
}

#about .link-container,
#rule .link-container,
#announcement .link-container,
#QandA .link-container,
#links .link-container {
  padding: 0.5em 1em 0.5em 2.3em;
}

#about .link-container li,
#rule .link-container li,
#announcement .link-container li,
#QandA .link-container li,
#links .link-container li {
  line-height: 1.3;
  padding: 0.5em 0;
  list-style-type: none;
}

#about .nav,
#rule .nav,
#announcement .nav,
#QandA .nav,
#links .nav {
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 750px) {
  #about .nav,
  #rule .nav,
  #announcement .nav,
  #QandA .nav,
  #links .nav {
    width: 100%;
  }
}

#about .nav img,
#rule .nav img,
#announcement .nav img,
#QandA .nav img,
#links .nav img {
  display: inline-block;
  width: 70px;
  margin: 0 2vw;
}

@media only screen and (min-width: 450px) {
  #about .nav img,
  #rule .nav img,
  #announcement .nav img,
  #QandA .nav img,
  #links .nav img {
    width: 18vw;
    margin: 0 4vw;
  }
}

@media only screen and (min-width: 600px) {
  #about .nav img,
  #rule .nav img,
  #announcement .nav img,
  #QandA .nav img,
  #links .nav img {
    width: 120px;
    margin: 0 4vw;
  }
}

#about .youtube-box,
#rule .youtube-box,
#announcement .youtube-box,
#QandA .youtube-box,
#links .youtube-box {
  width: 95%;
  margin: 20px auto;
}

@media only screen and (min-width: 500px) {
  #about .youtube-box,
  #rule .youtube-box,
  #announcement .youtube-box,
  #QandA .youtube-box,
  #links .youtube-box {
    width: 70%;
  }
}

#about .youtube-box .youtube,
#rule .youtube-box .youtube,
#announcement .youtube-box .youtube,
#QandA .youtube-box .youtube,
#links .youtube-box .youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

#about .youtube-box .youtube iframe,
#rule .youtube-box .youtube iframe,
#announcement .youtube-box .youtube iframe,
#QandA .youtube-box .youtube iframe,
#links .youtube-box .youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

#judges {
  padding: 20px 3vw;
  text-align: center;
}

#judges .judges-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90vw;
  height: auto;
  padding: 10px;
  margin: 1vw;
  margin-bottom: 0px;
  padding-bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

#judges .judges-info .box-item {
  width: 300px;
  height: 300px;
  text-align: center;
  background-color: #286da7;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#judges .judges-info .box-item img {
  width: 100%;
  display: block;
}

footer {
  background-color: white;
  margin: 0px;
}

footer p {
  font-size: 14px;
  margin: 3px;
  font-weight: lighter;
  text-align: center;
  color: black;
  border: solid 4px rgba(255, 255, 255, 0);
}

footer img {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  footer img {
    width: 25vw;
  }
}

footer .sns-share {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .sns-share .item {
  margin: 1px;
}

footer .sns-share .facebook {
  background-color: #2e4a88;
  -webkit-box-shadow: 0 4px 0 #1B3D82;
          box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .facebook:hover {
  background-color: #354F84;
}

footer .sns-share .facebook:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #1B3D82;
          box-shadow: 0 2px 0 #1B3D82;
}

footer .sns-share .twitter {
  background-color: #008DDE;
  -webkit-box-shadow: 0 4px 0 #0078BD;
          box-shadow: 0 4px 0 #0078BD;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .twitter:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #0078BD;
          box-shadow: 0 2px 0 #0078BD;
}

footer .sns-share .twitter:hover {
  background-color: #1397D8;
}

footer .sns-share .instagram {
  background-color: #e01392;
  -webkit-box-shadow: 0 4px 0 #9b0e65;
          box-shadow: 0 4px 0 #9b0e65;
  display: inline;
  position: relative;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 14px 20px;
}

footer .sns-share .instagram:active {
  top: 2px;
  -webkit-box-shadow: 0 2px 0 #ff41ef;
          box-shadow: 0 2px 0 #ff41ef;
}

footer .sns-share .instagram:hover {
  background-color: #dd39b4;
}
/*# sourceMappingURL=style.css.map */